:root{
    --color-Dark-Violet: hsl(256, 26%, 20%);
    --color-Grayish--Blue: hsl(216, 30%, 68%);
    --color-contrast-violet: #FFFFFD;

    --font-heading:'DM Serif Display', serif;
    --font-body: 'Karla', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--font-body);
}


.nav__container--mobile{
    width: 100%;
    margin: auto;
}



h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
} 

.header__container{
    overflow: hidden;
    position: relative;
}

span{
    display: none;
}

.header__container::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translateY(134%) translateX(0%);
    width: 200px;
    height: 400px;
    background-image: url('../images/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    opacity: .4;
}


.header__uppersection{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container{
    display: none;
}

.hero__container{
    background-color: var(--color-Dark-Violet);
}

.hero__img{
    width: 100%;
    height: 450px;

    display: block;
}

.background__img{
    display: none;
}

.hero__texts{
    width: 90%;
    margin: 0 auto;
    padding: 5.1rem 0 5.7rem;

    text-align: center;
    color: var(--color-contrast-violet);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__title{
    font-size: 2.8rem;
    font-weight: 400;
    z-index: 2;
}

.hero__paragraph{
    line-height: 2;
}

.hero__cta{
    border: 2px solid var(--color-contrast-violet);
    padding: .6rem 2rem;
    
    color: var(--color-contrast-violet);
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main_container{
    position: relative;
    width: 100%;
    z-index: 1;
}

.main_container::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    transform: translateY(-74.1%) translateX(0%);
    width: 129px;
    height: 400px;
    z-index: 2;
    background-image: url('../images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    opacity: .4;
}

.description__container{
    width: 90%;
    margin: 8.75rem auto;
    
}

.description__header{
    text-align: center;
}

.description__line{
    display: inline-block;
    width: 40%;
    border: .2px solid rgb(198, 198, 223);
    margin-bottom: 2rem;
}

.description__title--size{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2px;
}

.description__main{
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 3.75rem;

    margin: 5.3rem auto 8.9rem;
}

.description__title{
    font-size: 26px;
    font-weight: 600;
    margin: 2.4rem 0 1.5rem;
}

.description__paragraph{
    line-height: 1.5;
    color: #A7A7A9;
    z-index: 2;
}

.description__information{
    position: relative;
    background-color: var(--color-Dark-Violet);
    text-align: center;
    color: var(--color-contrast-violet);
}

.description__information::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 175px;
    height: 475px;
    max-height: 100%;
    transform: translateY(.5%) translateX(0%);
    background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    
    opacity: .4;

}

.information__texts{
    padding: 4.75rem 0 ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.information__title{
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 36px;
}



.information__cta{
    color: var(--color-contrast-violet);
    border: 1px solid var(--color-contrast-violet);
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
}

.footer__container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #FAFAFA;
}

.footer__container::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translateY(0%) translateX(0%);
    width: 100%;
    height: 180px;
    background-image: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 1;
}

.footer__line{
    display: inline-block;
    width: 90%;
    border: 0.1px solid rgb(237, 237, 240);
    margin-bottom: 2rem;
    opacity: .7;
}

.footer__header{
    padding: 5.5rem 0 2.1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__logo{
    z-index: 2;
}

.footer__media{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    
    z-index: 2;
}

.footer__links{
    padding: 2.5rem 0 6.25rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.links__section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.section__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #282632;
    font-weight: 600;
    letter-spacing: .1rem;
}

.section__title{
    color: #888689;
    font-family: var(--font-body);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

@media (min-width:768px) {
    
    .header__uppersection, .hero__content, .main_container, .footer__header, .footer__line, .footer__links{
        max-width: 1440px;
    }


    .header__uppersection{
        width:80%;
        margin: 0 auto;
        
        display: flex;
    }

    .header__logo{
        margin-left: 42.672px;
    }
    
    .nav__container{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .header__icon{
        display: none;
    }


    .nav__link{
        font-size: 12px;
        text-decoration: none;
        color: #868688;
        font-weight: 600;
    }


    .nav__link--prices{
        border: 1px solid var(--color-Dark-Violet);
        padding: .5rem 1rem;
        color: #282632;
        font-weight: 600;
    }

    .nav__container--mobile{
        display: none;
    }

    .header__container{
        overflow: unset;
    }

    .hero__container{
        background-image: linear-gradient(to bottom, var(--color-Dark-Violet) 75%, #fff 75% );
        position: relative;
        overflow: hidden;
    }

    .hero__content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        padding: 100px 0 300px;
        
    }

    .hero__picture{
        position: relative;
        display: block;
        width: 45%;

    }

    .background__img{
        display: block;
        width: 100%;
        height: 100%;
    }


    .background__img::before{
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        /* transform: translateY(0%); */
        height: 650px;
        background-image: url('/images/image-intro-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

   .hero__line{
    display: inline-block;
    width: 25%;
    border: .1px solid rgb(198, 198, 198);
    margin-bottom: 2rem;
   }

    .hero__texts{
        text-align: left;
        padding: 0;
        width: 48%;
        z-index: 2;
    }

    .hero__cta{
        align-self: flex-start;
       
    }

    .hero__img{
        display: none;
        
    }

    .hero__space{
        display: none;
    }

    .header__container::after{
        bottom: 0;
        left: 0;
        transform: translateY(101%) translateX(0%);
        width: 200px;
        height: 500px;
        background-image: url('../images/bg-pattern-intro-left-desktop.svg');
        opacity: .6;
    }

    .hero__content::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        transform: translateY(-13%) translateX(0%);
        width: 400px;
        height: 550px;
        background-image: url('../images/bg-pattern-intro-right-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .7;
        z-index: 3;
        overflow: hidden;
    }

    .main_container::after {
        display: none;
    }

    .main_container{
        width: 80%;
        margin: 0 auto;
    }
    .description__line{
        width: 16%;
    }

    .description__header{
        text-align: left;
    }

    .description__main{
        flex-direction: row;
        text-align: left;
        margin-left: 0;
    }

    .description__img{
        width: 60px;
    }

    .description__title{
        font-weight: 500;
        font-size: 1.4rem;
    }

    .description__paragraph{
        font-size: 0.9rem;
    }

    .information__texts{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        padding: 60px 60px;
    }

    .information__title{
        margin-left: 0;
        text-align: left;
        flex-basis: 60%;
        font-size: 28px;
        padding: 0;

    }
    .information__link{
        flex-basis: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .information__cta{
        font-size: 12px;
        z-index: 2;
        
    }

    .description__information{
        overflow: hidden;
    }

    .description__information::after {
        top: 0;
        right: 0;
        width: 400px;
        height: 300px;
        max-height: 100%;
        transform: translateY(0%) translateX(15%);
        background-image: url('/images/bg-pattern-how-we-work-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .7;
    }

    .footer__container::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        transform: translateY(0%) translateX(0%);
        width: 540px;
        height: 236px;
        background-image: url('../images/bg-pattern-footer-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        z-index: 1;
    }

    .footer__header{
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }

    

    .footer__line{
        width: 70%;
    }

    .footer__links{
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        gap: 3rem 8rem ;
    }

    .section__title{
        width: 134.41px;
        font-size: 0.7rem;
    }

    .section__link{
        font-size: 0.8rem;
    }
}

@media (min-width:1230px) {
    .hero__title{
        font-size: 64px;
        
    }

    .description__title--size{
        font-size:47px;
        font-weight: 500;
    }

    .information__title{
        font-size: 42px;
    }
}

/* MOBILE NAV */



