:root{
    --color-Dark-Violet: hsl(256, 26%, 20%);
    --color-Grayish--Blue: hsl(216, 30%, 68%);
    --color-contrast-violet: #FFFFFD;

    --font-heading:'DM Serif Display', serif;
    --font-body: 'Karla', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
} 

.header__container{
    overflow: hidden;
    position: relative;
}

span{
    display: none;
}

.header__container::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translateY(134%) translateX(0%);
    width: 200px;
    height: 400px;
    background-image: url('../images/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    opacity: .4;
}


.header__uppersection{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container{
    display: none;
}

.hero__container{
    background-color: var(--color-Dark-Violet);
}

.hero__img{
    width: 100%;
    height: 450px;

    display: block;
}

.hero__texts{
    width: 90%;
    margin: 0 auto;
    padding: 5.1rem 0 5.7rem;

    text-align: center;
    color: var(--color-contrast-violet);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__title{
    font-size: 2.8rem;
    font-weight: 400;
    z-index: 2;
}

.hero__paragraph{
    line-height: 2;
}

.hero__cta{
    border: 2px solid var(--color-contrast-violet);
    padding: .6rem 2rem;
    
    color: var(--color-contrast-violet);
    align-self: center;
    text-decoration: none;
}

.main_container{
    position: relative;
    width: 100%;
    z-index: 1;
}

.main_container::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    transform: translateY(-74.1%) translateX(0%);
    width: 129px;
    height: 400px;
    z-index: 2;
    background-image: url('../images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    opacity: .4;
}

.description__container{
    width: 90%;
    margin: 8.75rem auto;
    
}

.description__header{
    text-align: center;
}

.description__line{
    display: inline-block;
    width: 40%;
    border: .2px solid rgb(198, 198, 223);
    margin-bottom: 2rem;
}

.description__title--size{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2px;
}

.description__main{
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 3.75rem;

    margin: 5.3rem auto 8.9rem;
}

.description__title{
    font-size: 26px;
    font-weight: 600;
    margin: 2.4rem 0 1.5rem;
}

.description__paragraph{
    line-height: 1.5;
    color: #A7A7A9;
    z-index: 2;
}

.description__information{
    position: relative;
    background-color: var(--color-Dark-Violet);
    text-align: center;
    color: var(--color-contrast-violet);
}

.description__information::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 175px;
    height: 475px;
    transform: translateY(.5%) translateX(0%);
    background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    opacity: .4;

}

.information__title{
    width: 80%;
    margin: 0 auto;
    padding: 4.75rem 0 0;
    font-weight: 300;
    font-size: 36px;
}

.information__link{
    padding: 2.8rem 0 4.5rem;
}

.information__cta{
    color: var(--color-contrast-violet);
    border: 1px solid var(--color-contrast-violet);
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    
}




